p{

font-size: 20px;

}

footer{

color: purple;

background-position: center;

}

.parrafo{

    font-size: 22px;
    color: coral;
    font-weight: bold;
    text-align: center;
}
h1{
 color: salmon;

}