footer{

color: beige;
text-align: center;
background-color: coral;

}

.parrafo{

    font-size: 22px;
    color: coral;
   font-family: 'Roboto Mono', monospace;
text-align: justify;
}
h1{
 color: rgb(180, 41, 118);

}
